{#
/**
 * @file
 * Default theme implementation to display a grid layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'layout',
  'layout--grid',
]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
  {% for index, region in settings.columns %}
    {% set column_attributes = attribute(region_attributes, region.column) %}
    {% set column_classes = [
      'layout__region',
      'layout__region--' ~ region.column
    ]
    %}
  <div{{ column_attributes.addClass(column_classes) }}>
    {{ attribute(content, region.column) }}
  </div>
  {% endfor %}
  </div>
{% endif %}
